{% extends 'base.html' %}

{% block content %}
<hr>
<div class="card">
  <h5 class="card-header">Transaction #0000011112222</h5>
  <div class="card-body">
    <h5 class="card-title">Payment Terms</h5>
    <p class="card-text">Please select the term of payment.</p>
    <form method="POST">
        {% for field in form %}
            {{ field }} 
        {% endfor %}            
        <button class="btn btn-primary" type="submit">Submit</button>
        {% csrf_token %}
    </form>
    </div>
  </div>
</div>

{% endblock %}
