{% extends 'base.html' %}

{% block content %}
<hr>
<div class="card">
  <h5 class="card-header">Transaction #0000011112222</h5>
  <div class="card-body">
    <h5 class="card-title">Terms and Conditions</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin varius, nunc in lobortis consequat, mi mi volutpat nibh, vitae lobortis est massa non velit. Nulla interdum lectus dolor, eu finibus metus efficitur ut. Duis turpis metus, mattis cursus sapien nec, commodo efficitur mauris. Pellentesque elementum vitae mi vel sagittis. Nulla lectus arcu, commodo ut efficitur ac, porttitor id massa. Donec eget nunc scelerisque justo pharetra porta id vulputate lacus. Praesent nisi justo, eleifend sed nibh sit amet, dapibus eleifend nibh. Sed sit amet massa turpis. Phasellus vel tempus quam. Aenean eu augue enim. In non lobortis tellus. Nulla facilisi.
    <br><br>
    Etiam ultrices sagittis tincidunt. Nam a elementum arcu. In eu dolor rutrum, luctus est sit amet, aliquet nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas ullamcorper ornare velit, sit amet faucibus sem mollis vel. Quisque sagittis sapien risus, ac luctus augue laoreet non. Nunc ac tempor dui. Nullam nec justo mattis, aliquet ipsum fringilla, varius risus. Sed id imperdiet leo. Proin bibendum finibus justo non ullamcorper. Morbi est justo, ullamcorper sit amet augue sed, condimentum mattis massa. Vivamus id urna justo. Duis luctus luctus massa, at blandit lorem auctor vulputate. Vestibulum rhoncus euismod erat eu condimentum. Praesent a sapien ex. Etiam tempor consectetur urna, eget vehicula magna pellentesque id.
    <br><br>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" onclick="toggleBuy()">
      <label class="form-check-label" for="defaultCheck1">
        I agree
      </label>
    </div>
    <br>
    <a id="checkBuy" class="btn btn-primary disabled" href="testing" role="button">Buy</a>
  </div>
</div>

{% endblock %}
